.article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 12px 12px 32px;
  gap: 16px;
  background: rgba(248, 250, 252, 0.6);
  border: 2px solid rgba(248, 250, 252, 0.6);
  border-radius: 24px;
  color: #334155;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 30%;
  max-width: 450px;
}

#dark .article {
  background: rgba(30, 41, 59, 0.6);
  border: 2px solid rgba(51, 65, 85, 0.6);
}

.article img {
  width: 100%;
  object-fit: contain;
  background: rgba(248, 250, 252, 0.6);
  box-shadow: 0px 15px 35px rgba(67, 56, 202, 0.25);
  border-radius: 16px;
}

.article > span, .article__desc > span {
  font-family: 'Archivo';
  font-size: 12px;
}

#dark .article > span, .article__desc > span {
  color: #CBD5E1;
}


.article__tags {
  margin-top: 5px;
  display: flex;
  gap: 8px;
}

.article__tags span {
  padding: 6px 6px;
  border-radius: 8px;
  background-color: gainsboro;
  font-size: 12px;
  font-weight: 600;
  color: #856a43;
}

.article h2 {
  font-size: 28px;
  font-weight: 900;
  line-height: 26px;
} 

#dark .article h2 {
  color: #CBD5E1;
}

.article p {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Archivo';
}

#dark .article p {
  color: #CBD5E1;
}

.row {
  flex-direction: row;
  padding: 12px;
  align-items: stretch;
}

.row img {
  width: 40%;
  max-width: 200px;
  object-fit: cover;
}

.row > div {
  display: grid;
  gap: 5px;
}

@media (min-width: 850px){
  .article {
    max-width: unset;
  }
}