.about{
  margin-top: 100px;
  width: 100%;
  background-color: var(--darkcolor2);
  background-image: linear-gradient(45deg, var(--darkcolor1), transparent);
}

.about > h2{
  display: none;
}

.about__mobile{
  padding: 20px 0;
  text-align: center;
  color: var(--lightcolor5);
}

.about__mobile img{
  width: 30%;
  max-width: 150px;
  max-height: 150px;
  position: relative;
  border-radius: 100%;
  bottom: 65px;
  border: 2px solid hsl(59, 88%, 63%);
}

.about__mobile p{
  position: relative;
  line-height: 1.7rem;
  max-width: 600px;
  font-size: 1.1rem;
  bottom: 40px;
  color: var(--lightcolor4);
  margin: 0 auto;
}
