.skills{
  overflow-x: scroll;
  display: flex;
  gap: 30px;
  margin: 20px auto 0 auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  max-width: fit-content;
}

.skills::-webkit-scrollbar {
  display: none;
}
