#light {
  background-image: url('/public/assets/home1.png'), url('/public/assets/background-top.png'), url('/public/assets/background-bottom.png');
  background-repeat: no-repeat;
  background-size: cover, 100% 1000px, 100% 1100px;
  background-position: 100%, top, bottom;
  background-blend-mode: darken;
  background-color: #F1F5F9;
  overflow: hidden;
}

#dark {
  background-image: url('/public/assets/background-dark.png'), url('/public/assets/background-dark-top.png'), url('/public/assets/background-dark-bottom.png');
  background-repeat: no-repeat;
  background-size: cover, 100% 1000px, 100% 1100px;
  background-position: 100%, top, bottom;
  background-color: #111827;
  overflow: hidden;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-heading {
  margin-top: 100px;
  font-size: 22px;
  font-weight: 900;
}

.section-heading + p {
  font-size: 18px;
  font-family: 'Archivo';
  margin-top: 5px;
}

#dark .section-heading {
  color: #E2E8F0;
}

#dark .section-heading + p {
  color: #E2E8F0;
}

@media(min-width: 650px) {
  .section-heading {
    margin-top: 150px;
  }
}

@media(min-width: 750px) {
  .wrapper {
   width: 90%;
  }
} 

@media(min-width: 1024px) {
  .section-heading {
    margin-top: 200px;
  }
}