#light {
  background-image: url('/public/assets/background-light.webp'), url('/public/assets/background-top.webp'), url('/public/assets/background-bottom.webp');
  background-repeat: no-repeat;
  background-size: cover, 100% 1000px, 100% 1100px;
  background-position: 100%, top, bottom;
  background-blend-mode: darken;
  background-color: #e2e8f0;
  overflow: hidden;
}

#dark {
  background-image: url('/public/assets/background-dark.png'), url('/public/assets/background-dark-top.webp'), url('/public/assets/background-dark-bottom.webp');
  background-repeat: no-repeat;
  background-size: cover, 100% 1000px, 100% 1100px;
  background-position: 100%, top, bottom;
  background-color: #0e1522;
  overflow: hidden;
}

p {
  line-height: 24px;
}

.loader {
  width: 108px;
  height: 16px;
  margin: 0 auto;
  background: radial-gradient(circle 8px at 8px center,
      #fff 100%,
      transparent 0),
    radial-gradient(circle 8px at 8px center, #fff 100%, transparent 0);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  animation: ballX 1s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  inset: 0;
  margin: auto;
  animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

.loader--mod {
  display: block;
  margin-top: 64px;
}

@keyframes ballX {

  0%,
  25%,
  50%,
  75%,
  100% {
    background-position: 25% 0, 75% 0;
  }

  40% {
    background-position: 25% 0, 85% 0;
  }

  90% {
    background-position: 15% 0, 75% 0;
  }
}

@keyframes moveX {
  100% {
    transform: translate(0.15px);
  }
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-heading {
  margin-top: 100px;
  font-size: 22px;
  font-weight: 900;
}

.active {
  border-bottom: 1px solid black;
}

#dark .active {
  border-bottom: 1px solid white;
}

.section-heading+p {
  font-size: 18px;
  font-family: "Archivo";
  margin-top: 5px;
  color: #1E293B;
}

#dark .section-heading {
  color: #e2e8f0;
}

#dark .section-heading+p {
  color: #e2e8f0;
}

@media (min-width: 640px) {
  .section-heading {
    margin-top: 150px;
  }
}

@media (min-width: 750px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .section-heading {
    margin-top: 200px;
  }
}