:root{
  --darkcolor1: hsl(206, 33%, 10%);
  --darkcolor2: hsl(206, 27%, 20%);
  --darkcolor3: hsl(210, 25%, 25%);
  --darkcolor4: hsl(206, 27%, 38%);
  --lightcolor1: hsl(205, 19%, 60%);
  --lightcolor2: hsl(206, 27%, 78%);
  --lightcolor3: hsl(206, 16%, 87%);
  --lightcolor4: hsl(206, 16%, 93%);
  --lightcolor5: hsl(220, 12%, 95%);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: hsl(220, 12%, 99%);
}

a{
  text-decoration: none;
}


.wrapper{
  width: 90%;
  margin: 0 auto;
}